.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.add-button__icon {
  color: #00B140
}

.dialog__title {
  display: flex;
  justify-content: space-between;
}

.dialog__title__text {
  padding-top: 12px;
  font-size: 20px;
}

.title__background {
  background-color: #00414c
}

.title__text {
  color: #dce6e6
}

.remove-button__icon {
  color: #EF3340;
}

.table-cell__text {
  font-size: 20px !important;
}

.status-button__text {
  margin-right: 20px !important;
  font-size: 20px !important;
}

.icon-button__text {
  font-size: 20px !important;
  margin-right: 20px !important;
}

.table-head__table-row {
  background: #00414c;
}

.table-head__table-cell {
  color: #dce6e6 !important;
  font-size: 20px !important;
}

.icon-button {
  margin: 20px !important;
}

.MuiFormLabel-root {
  font-size: 20px !important;
}

.MuiInputBase-input {
  font-size: 20px !important;
}
