.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.table-cell__text {
  font-size: 20px !important;
}

.status-button__text {
  margin-right: 20px !important;
  font-size: 20px !important;
}

.icon-button__text {
  font-size: 20px !important;
  margin-right: 20px !important;
}

.table-head__table-row {
  background: darkblue;
}

.table-head__table-cell {
  text-shadow: white;
  color: white !important;
  font-size: 20px !important;
}

.MuiFormLabel-root {
  font-size: 20px !important;
}

.MuiInputBase-input {
  font-size: 20px !important;
}
